*{
    box-sizing: border-box;
}





.nav{
    color: white;
    border: 1px solid;
    width: auto;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    background-color: #28253b;
    padding: 0 1rem;
}
.nav h2{
    color: inherit;
   text-align: left;

}
.nav a{
    color: inherit;
    text-decoration: none;
}

.nav ul{
    
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 1rem;
    text-align: right;
}
